<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mianshi.web.mybatis.mapping.UserMapper">
	<resultMap id="userEntityMapper" type="UserEntity">
		<id property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>
	
	<select id="getUserEntityById" parameterType="Integer" resultType="UserEntity">
		select * from user where id=#{0}   
	</select>
	
</mapper>